#audioBottom {
    background-color: #F4C709;
    width: 100%;
    height: 5%;
    position: fixed;
    right: 0px;
    bottom: 0px;
     border: none;
}

.audio {
    float: right;
    width: 20%;
    border: none;
    color: white;
}




.audio::-webkit-media-controls-panel{
    border: none;
    background-color: #F4C709;
    color: white;
}

.audio::-webkit-media-controls-mute-button{
     border: none;
    color: white;
}

.audio::-webkit-media-controls-play-button{
    border: none;
    color: white;
}

.audio::-webkit-media-controls-timeline-container{
 border: none;
    color: white;
}

.audio::-webkit-media-controls-current-time-display{
 border: none;
    color: white;
}

.audio::-webkit-media-controls-time-remaining-display{
 border: none;
    color: white;
}

audio::-webkit-media-controls-timeline{
 border: none;
    color: white;
}

audio::-webkit-media-controls-volume-slider-container{
 border: none;
    color: white;
}

audio::-webkit-media-controls-volume-slider{
     border: none;
    color: white;
}

audio::-webkit-media-controls-seek-back-button{
     border: none;
    color: white;
}

audio::-webkit-media-controls-seek-forward-button{
     border: none;
    color: white;
}

audio::-webkit-media-controls-fullscreen-button
{
     border: none;
    color: white;
}

audio::-webkit-media-controls-rewind-button{
     border: none;
    color: white;
}

audio::-webkit-media-controls-return-to-realtime-button{
     border: none;
    color: white;
}

audio::-webkit-media-controls-toggle-closed-captions-button{
     border: none;
    color: white;
}